.modal {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  align-items: center;
}
  
.modal-container {
  position: relative;
  padding: 1rem;
  height: 3rem;
  overflow-y: auto;
  background-color: #fff;
  color: rgb(63, 62, 69);
  text-align: center;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modal.is-open {
  display: flex;
}